.header {
  width: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  height: 100px;
  align-items: center;
  position: fixed;
  background: #477890;
  top: 0;
  left: 0;
  z-index: 999999;
  a {
    color: rgb(255, 255, 255);
  }
  img {
    mix-blend-mode: color-dodge;
    border-radius: 50%;
    transform: scale(1.2);
  }
}
