.single {
  width: 90%;
  height: 90vh;
  margin: 5% auto;
  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_card {
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 100%;
    div:nth-child(1) {
      div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
      }
      h1 {
        align-items: baseline;
        color: #000;
        display: flex;
        font-size: 42px;
        font-weight: 600;
        line-height: 49px;
      }
    }
    div:nth-child(3) {
      h2 {
        color: red;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 1px;
        font-weight: 200;
      }
      p {
        letter-spacing: 1.4px;
      }
    }
  }
  &_flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 100px;
  }
  &_info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    height: 100%;
    gap: 25px;
    width: 100%;
    background-color: #477890;
    border-radius: 10px;
    padding: 20px;
    div:nth-child(1) {
      display: flex;

      p {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        color: #ffffff;
      }
    }
    div:nth-child(2) {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      p {
        border-bottom: 1px solid #fed766;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #e4e2e2a8;
        span {
          color: #ffffff;
        }
      }
    }
  }
  &_buy {
    border: 1px solid #fed766;
    height: 100%;
    width: 100%;
    background-color: #fed766;
    padding: 20px 3%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    h3 {
      font-size: x-large;
    }
    div:nth-child(1) {
      h5 {
        text-decoration: line-through;
        color: rgba(137, 135, 135, 0.415);
      }
      padding-bottom: 14px;
      border-bottom: 1px solid #fed766;
    }
    div:nth-child(2) {
      span {
        font-size: 12px;
        color: #a09d9da2;
      }
      p {
        font-size: 13px;
        letter-spacing: 0.5px;
      }
    }
    div:nth-child(3) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      button:nth-child(1) {
        padding: 10px;
        font-size: 15px;
        border-radius: 15px;
        border: 2px solid #fafafa;
        background-color: #fed766;
        transition: 0.2s;
        color: black;
        &:hover {
          background: transparent;
          border: 2px solid #477890;
          color: #477890;
        }
      }
      button {
        padding: 10px;
        font-size: 15px;
        border-radius: 15px;
        border: 2px solid #477890;
        background-color: transparent;
        color: black;
        transition: 0.2s;
        &:hover {
          background: #477890;
          color: #fed766;
        }
      }
    }
  }
  &_img {
    background: #fed766;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 30px;
    border-radius: 10px;
    img {
      border-radius: 10px;
    }
  }
}
